{% extends 'base.html.twig' %} {% block title %}Hello HomeController!{% endblock
%} {% block body %} {# <a href="{{ path('app_login') }}"> Log OUT</a> #}
<a href="{{ path('app_user_index') }}"> Log IN</a>

{% endblock %}
