{% extends 'base.html.twig' %}

{% block title %}New SousCategorie{% endblock %}

{% block body %}

    {{ include('sous_categorie/_form.html.twig') }}

    <a href="{{ path('app_sous_categorie_index') }}">back to list</a>
{% endblock %}
