<form
  method="post"
  action="{{ path('app_attribut_delete', { id: attribut.id }) }}"
  onsubmit="return confirm('vous voulez  le supprimer vraiment ??');"
>
  <input
    type="hidden"
    name="_token"
    value="{{ csrf_token('delete' ~ attribut.id) }}"
  />
  <button class="btn btn-danger btn-md"><i class="fa fa-trash"></i></button>
</form>
