<form
  method="post"
  action="{{
    path('app_quantite_delete', {
      id: quantite.id,
      slug: quantite.getProduit().id
    })
  }}"
  onsubmit="return confirm('vous voulez  le supprimer vraiment ??');"
>
  <input
    type="hidden"
    name="_token"
    value="{{ csrf_token('delete' ~ quantite.id) }}"
  />
  <button class="btn btn-danger btn-md"><i class="fa fa-trash"></i></button>
</form>
