{% extends 'login.html.twig' %} {% block section %} {% if error %}
<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}



<form action="{{ path('app_login') }}" method="post">
<div class="form-group">
		<div class="input-group mb-3">
		<div class="input-group-prepend">
			<span class="input-group-text bg-transparent text-white"><i class="ti-user"></i></span>
		</div>
			<input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control pl-15 bg-transparent text-white plc-white" placeholder="Username">
    </div>
</div>

<div class="form-group">
									<div class="input-group mb-3">
										<div class="input-group-prepend">
											<span class="input-group-text  bg-transparent text-white"><i class="ti-lock"></i></span>
										</div>
										<input type="password" id="password" name="_password" class="form-control pl-15 bg-transparent text-white plc-white" placeholder="Password">
                    <input
    type="hidden"
    name="_csrf_token"
    value="{{ csrf_token('authenticate') }}"
  />
                  </div>
	</div>
  {# If you want to control the URL the user is redirected to on success #}

  <input type="hidden" name="_target_path" value="/admin" />

    <div class="row">
									<div class="col-6">
									  <div class="checkbox text-white">
										<input type="checkbox" id="basic_checkbox_1" >
										<label for="basic_checkbox_1">Remember Me</label>
									  </div>
									</div>
									<!-- /.col -->
									<div class="col-6">
									 <div class="fog-pwd text-right">
										<a href="javascript:void(0)" class="text-white hover-info"><i class="ion ion-locked"></i> Forgot pwd?</a><br>
									  </div>
									</div>

<div class="col-12 text-center">
									  <button type="submit" class="btn btn-info btn-rounded mt-10">SIGN IN</button>
		</div>
    </div>
</form>
{% endblock %}
