<form method="post" action="{{ path('app_cmd_delete_get', { id: commande.id }) }}" onsubmit="return confirm('vous voulez  le supprimer vraiment ??');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commande.id) }}"/>
	<button class="btn">supprimer</button>
</form>
