<form
  method="post"
  action="{{ path('app_fead_back_delete', { id: fead_back.id }) }}"
  onsubmit="return confirm('vous voulez  le supprimer vraiment ??');"
>
  <input
    type="hidden"
    name="_token"
    value="{{ csrf_token('delete' ~ fead_back.id) }}"
  />
  <button class="btn">Delete</button>
</form>
