{% extends 'base.html.twig' %}

{% block title %}New FeadBack{% endblock %}

{% block body %}
    <h1>Create new FeadBack</h1>

    {{ include('fead_back/_form.html.twig') }}

    <a href="{{ path('app_fead_back_index') }}">back to list</a>
{% endblock %}
