{% extends 'base.html.twig' %}

{% block title %}New Variation{% endblock %}

{% block body %}
    <h1>Create new Variation</h1>

    {{ include('variation/_form.html.twig') }}

    <a href="{{ path('app_variation_index') }}">back to list</a>
{% endblock %}
