{% extends 'frontend/index.html.twig' %}

{% block content %}
	<section class="contact-area ptb-100">
		<div class="container">
			<div id="message" class="alert alert-info">
				{% for message in app.flashes('success') %}
					{{ message }}
				{% endfor %}
			</div>
			<div class="section-title">
				<h2>Prêt à travailler avec Nous?</h2>
				<p>Vous voulez entrez en contact avec nous, vous avez des questions, suggestions, ou vous voulez travaillez avec nous, Alors Remplissez ce formulaire
				</p>
			</div>

			<div class="contact-form">
				<form action="{{path('app_contact')}}" method="POST">
					<div class="row">
						<div class="col-lg-6 col-md-6">
							<div class="form-group">
								<label>Nom*</label>
								<input type="text" name="name" id="name" class="form-control" required data-error="Please enter your name">
								<div class="help-block with-errors"></div>
							</div>
						</div>

						{# <div class="col-lg-6 col-md-6">
																																																																																																																									<div class="form-group">
																																																																																																																										<label>Prenom*</label>
																																																																																																																										<input type="text" name="name" id="name" class="form-control" required data-error="Please enter your name">
																																																																																																																										<div class="help-block with-errors"></div>
																																																																																																																									</div>
																																																																																																																								</div> #}

						<div class="col-lg-6 col-md-6">
							<div class="form-group">
								<label>Email*</label>
								<input type="email" name="email" id="email" class="form-control" required>
								<div class="help-block with-errors">
									{% for message in app.flashes('mail_error') %}
										{{ message }}
									{% endfor %}
								</div>
							</div>
						</div>
						{# 
																																																																																																																								<div class="col-lg-6 col-md-6">
																																																																																																																									<div class="form-group">
																																																																																																																										<label>Telephone*</label>
																																																																																																																										<input type="text" name="phone_number" id="phone_number" required data-error="Please enter your number" class="form-control">
																																																																																																																										<div class="help-block with-errors"></div>
																																																																																																																									</div>
																																																																																																																								</div> #}

						<div class="col-lg-12 col-md-12">
							<div class="form-group">
								<label>Sujet*</label>
								<input type="text" name="msg_subject" id="msg_subject" class="form-control" required data-error="Please enter your subject">
								<div class="help-block with-errors"></div>
							</div>
						</div>

						<div class="col-lg-12 col-md-12">
							<div class="form-group">
								<label>Votre Message*</label>
								<textarea name="message" class="form-control" id="message" cols="30" rows="6" required data-error="Write your message"></textarea>
								<div class="help-block with-errors"></div>
							</div>
						</div>

						<div class="col-lg-12 col-md-12">
							<button type="submit" class="default-btn">
								Envoyez
							</button>

							<div id="msgSubmit" class="h3 text-center hidden"></div>
							<div class="clearfix"></div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</section>
	<!-- End Contact Area -->
{% endblock %}
{% block javascript %}{% endblock %}
