<form
  method="post"
  action="{{ path('app_categorie_delete', { id: categorie.id }) }}"
  onsubmit="return confirm('vous voulez  le supprimer vraiment ??');"
>
  <input
    type="hidden"
    name="_token"
    value="{{ csrf_token('delete' ~ categorie.id) }}"
  />
  <button class="btn btn-md btn-danger"><i class="fa fa-trash"></i></button>
</form>
